*{margin: 0; padding: 0; box-sizing: border-box;}
*::before, *::after{box-sizing: border-box;}

body{
    height: 100vh;
    display: flex;
    align-items: center;
}
div.wrapper{
    width: 782px;
    margin: auto;
    position: relative;
}
div.welcome{
    position: absolute;
    width: 782px;
    height: 40px;
    top: -40px;
    line-height: 40px;
}
div.welcome > h2{
    margin-left: 10px;
    display: inline;
    font-family: "Microsoft YaHei UI Light";
    color: #00A1D6;
}
input[type="submit"]{
    box-shadow: none;
    padding: 4px;
    font-size: 14px;
    border-width: 0;
    border-radius: 12px;
    background: #D26585;
    color: #FFFCFB;
    width: 60px;
    text-align:center;
    text-decoration:none;
    font-family: Arial;
    margin-left: 30px;
    vertical-align: 2px;
    -webkit-appearance: button;
    z-index: 10;
}
input[type="submit"]:hover{
    cursor: pointer;
}
input[type="submit"]:focus{
    outline: 0;
}
span.message{
    margin-left: 5px;
    font-size: 16px;
    color: #D80053;
}
div.container{
    border: 1px solid grey;
    perspective: 1000px;
}
div.container > div.banner{
    height: 405px;
    width: 720px;
    margin: 30px;
    background: url("../img/2233background.jpg") no-repeat center;
    background-size: cover;
    border: 1px solid #141333;
    box-shadow: 0px 0px 10px 2px hsla(0,0%,0%,0.55);
    transition: transform .2s;
}

@media (max-width: 800px) and (min-height: 850px) {
    div.wrapper{
        width: 82vw;
    }
    div.welcome{
        width: 82vw;
        top: -7vh;
        height: 6vh;
        line-height: 6vh;
    }
    div.welcome > h2{
        margin-left: 1vw;
        font-size: 35px;
    }
    input[type="submit"]{
        padding: 0.6vh;
        font-size: 22px;
        border-radius: 3vw;
        width: 11vw;
        margin-left: 3vw;
        vertical-align: 0.2vh;
    }
    span.message{
        margin-left: 1vw;
        font-size: 19px;
    }
    div.container > div.banner{
        height: 60vh;
        width: 70vw;
        margin: 6vw;
    }
}

@media (max-width: 750px){
    div.wrapper{
        width: 72vw;
    }
    div.welcome{
        width: 72vw;
        height: 4vh;
        top: -8vh;
        line-height: 4vh;
    }
    div.welcome > h2{
        margin-left: 1vw;
        font-size: 24px;
    }
    input[type="button"]{
        padding: 1vh;
        font-size: 14px;
        border-radius: 2vw;
        width: 8vw;
        margin-left: 2vw;
        vertical-align: 0.5vh;
    }
    span.message{
        margin-left: 1vw;
        font-size: 14px;
        color: #D80053;
    }
    div.container{
        margin-bottom: -5vh;
    }
    div.container > div.banner{
        height: 66vh;
        width: 66vw;
        margin: 3vw;
    }
}

@media (max-width: 450px) {
    div.wrapper{
        width: 82vw;
    }
    div.welcome{
        width: 82vw;
        height: 6vh;
        top: -6vh;
        line-height: normal;
    }
    div.welcome > h2{
        margin-left: 1vw;
        font-size: 27px;
    }
    input[type="submit"]{
        padding: 0.6vh;
        font-size: 18px;
        border-radius: 4vw;
        width: 18vw;
        margin-left: 5vw;
        vertical-align: 0.5vh;
    }
    span.message{
        margin-left: 1vw;
        font-size: 16px;
    }
    div.container{
        margin-top: 3vh;
    }
    div.container > div.banner{
        height: 60vh;
        width: 70vw;
        margin: 6vw;
    }
}